<%# <h1>Pages#about</h1> %>
<h2 class="text-secondary">This is Blog Page</h2><br>
<h4 class="text-secondary">Where Users can create post delete post view other users post comment on other users post.</h4><br>
<h4 class="text-secondary">Guest can only view other user posts and comments but cannot create post or comment on post.</h4><br>
<h5 class="text-secondary">Thanks for Visiting this blog<h5>
<br><br>
<h6 class="text-secondary">Blog by Mubasher Khan<h6>
